
*{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.box{
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top:120px;
    margin: auto;
    width:300px;
    padding:50px;
    border-radius:40px;
    color: ghostwhite;
    text-align: center;
    font-size: 25px;
}

/*.border{
    border-top:none;
    border-left:none;
    border-right:none;
    width: 100%;
    padding:100px;
    margin-top:20px;
    border-radius: 15px;

    
}*/

.btn{
    background-color:ghostwhite;
    color:black;
    padding: 7px 16px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    margin-top:30px;
    cursor:pointer;
   /* justify-content: center;
    align-items: center;*/
}

.btn:hover{
    background-color: lightgray;
}

.link{
    
   text-decoration: none;
   color:black;
   font-size:15px;
   


}

