.box{
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat:no repeat;
    position:absolute;
    top:120px;
    left:500px;
    width:1px;
    padding:200px;
    border-radius:40px;
    color: ghostwhite;
    text-align: center;
    
    font-size: 25px;
}
.border{

        border-top:none;
        border-left:none;
        border-right:none;
        width: 70%;
        position:absolute;
        top:290px;
        left:600px;
  
  border-radius: 15px;
}
.btn{
    background-color:ghostwhite;
    color:black;
    padding: 7px 30px;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    position:absolute;
    top: 110px;
    left:45px;
}

.btn:hover{
    background-color:lightgrey;
}
