.box{
    background-color:ghostwhite;
}
.position{
   background-color:black;
   color:white;
   margin:0;
   padding:25px;
   top:0;
   right:0;
   left:0;
   position: absolute;
   
}
.footer{
    position:fixed;
    padding:7px;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    background-color: #111154;
    display: flex;
    
}
.first{
    background-color: #3AAFA9;
    padding:180px;
    position:absolute;
    top:70px;
    left:0;
    right:0;
    
   
}
.link{
    
   text-decoration: none;
   color:white;
   font-size:15px;
   margin-left: 90%;

}
.position{
   background-color:black;
   color:white;
   margin:0;
   padding:25px;
   top:0;
   
   position: absolute;
}

.position{
   background-color:black;
   color:white;
   margin:0;
   padding:25px;
   top:0;
   right:0;
   left:0;
   position: absolute;
}














.text{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
font-size:50px; 
text-align: center;
align-items: center;


    
}
.border{

        border-top:none;
        border-left:none;
        border-right:none;
         background-color:azure;
    width:300px;
    height:2px;
    padding:30px;
    text-align:left;
    border-radius: 60px;
    font-size: 20px;
    margin:auto;
}
.world{
    background-color:azure;
    width:600px;
    height:50px;
    padding:60px;
    text-align:left;
    border-radius: 30px;
    font-size: 20px;
    margin:auto;
    border-top:10px solid steelblue;
    
    
    
}